{% extends "base.html" %}

{% block navbar %}{% include 'snippets/navbar.html'  %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'term-alphabet-list' 'a' %}">A</a></li>
        <li><a href="{% url 'term-alphabet-list' 'b' %}">B</a></li>
        <li><a href="{% url 'term-alphabet-list' 'c' %}">C</a></li>
        <li><a href="{% url 'term-alphabet-list' 'd' %}">D</a></li>
        <li><a href="{% url 'term-alphabet-list' 'e' %}">E</a></li>
        <li><a href="{% url 'term-alphabet-list' 'f' %}">F</a></li>
        <li><a href="{% url 'term-alphabet-list' 'g' %}">G</a></li>
        <li><a href="{% url 'term-alphabet-list' 'h' %}">H</a></li>
        <li><a href="{% url 'term-alphabet-list' 'i' %}">I</a></li>
        <li><a href="{% url 'term-alphabet-list' 'j' %}">J</a></li>
        <li><a href="{% url 'term-alphabet-list' 'k' %}">K</a></li>
        <li><a href="{% url 'term-alphabet-list' 'l' %}">L</a></li>
        <li><a href="{% url 'term-alphabet-list' 'm' %}">M</a></li>
        <li><a href="{% url 'term-alphabet-list' 'n' %}">N</a></li>
        <li><a href="{% url 'term-alphabet-list' 'o' %}">O</a></li>
        <li><a href="{% url 'term-alphabet-list' 'p' %}">P</a></li>
        <li><a href="{% url 'term-alphabet-list' 'q' %}">Q</a></li>
        <li><a href="{% url 'term-alphabet-list' 'r' %}">R</a></li>
        <li><a href="{% url 'term-alphabet-list' 's' %}">S</a></li>
        <li><a href="{% url 'term-alphabet-list' 't' %}">T</a></li>
        <li><a href="{% url 'term-alphabet-list' 'u' %}">U</a></li>
        <li><a href="{% url 'term-alphabet-list' 'v' %}">V</a></li>
        <li><a href="{% url 'term-alphabet-list' 'w' %}">W</a></li>
        <li><a href="{% url 'term-alphabet-list' 'x' %}">X</a></li>
        <li><a href="{% url 'term-alphabet-list' 'y' %}">Y</a></li>
        <li><a href="{% url 'term-alphabet-list' 'z' %}">Z</a></li>
    </ol>
{% endblock %}

{% block lsidebar %}
    {% comment %}
    <div class="sidebar-module">
        <h4>Categories</h4>
        <ol class="list-unstyled">
            {% for obj in categories.all %}
                <li><span class="badge">{{ obj.count }}</span>&nbsp;{{ obj.name }}</li>
            {% endfor %}
        </ol>
    </div>
    {% endcomment %}
{% endblock %}
{% block rsidebar %}{% endblock %}

{% block content %}
   {% include 'terms/snippets/search.html' %}

<div class="list-group">
    {% for obj in object_list %}
    <div class="media">
        <div class="media-left media-middle">

        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="{% url 'term-detail' obj.pk obj.slug %}">{{ obj.short|default:'' }}<smal>{{ obj.long }}</smal></a></h4>
            <p class="" style="margin-bottom: 2px;">{{ obj.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

    {% include 'snippets/pagination.html' %}
{% endblock %}