{% extends "base.html" %}

{% block navbar %}{% include 'snippets/navbar.html' %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Apps</a></li>
        <li><a href="{% url 'term-list' %}">Terms</a></li>
    </ol>
{% endblock %}

{% block lsidebar %}
    <div class="sidebar-module">
        <h4>Categories</h4>
        <ol class="list-unstyled">
            {% for obj in categories.all %}
                <li><span class="badge">{{ obj.count }}</span>&nbsp;{{ obj.name }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
{% block rsidebar %}{% endblock %}

{% block content %}
    <style>
        .alpha-menu li {
            margin-top: 0px;
            list-style: outside none none;
        }
        .alpha-menu > li {
            float: left;
            width: 100px;
            background-color: transparent;
            margin: 10px;
            border-bottom: 1px solid #a9a9a9;

        }
        .alpha-menu > li  h4:hover {
            border-bottom: 1px solid #000000;
        }
        .alpha-menu > li  h4 {
            border-bottom: 1px solid #a9a9a9;
            width: 100px;
        }

    </style>

    {% regroup object_list by alphabet as terms %}

    <ul class="alpha-menu">
        {% for term in terms %}
            <li><a href=""><h4>{{ term.grouper }}</h4></a>
                <ul>
                    {% for item in term.list %}
                        <li><a>{{ item.short }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    {% comment %}
<div class="list-group">
    {% for obj in object_list %}
    <div class="media">
        <div class="media-left media-middle">

        </div>
        <div class="media-body">
            <h4 class="media-heading">

                <a href="{% url 'term-detail' obj.slug %}">{{ obj.title }}</a>
            </h4>
            <p class="text-success" style="margin-bottom: 2px;">{{ obj.usage|default:obj.code|truncatechars:50 }}</p>
            <p class="text-muted" style="margin-bottom: 2px;">{{ obj.description }}</p>


            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ obj.rank }}"
                     aria-valuemin="0" aria-valuemax="100" style="width: {{ obj.rank }}%">
                    <span class="sr-only">{{ obj.rank }} Complete</span>
                </div>
            </div>


        </div>
    </div>


    {% endfor %}
</div>
{% endcomment %}
    {% include 'snippets/pagination.html' %}
{% endblock %}